/* ---------------- BACKGROUND */
$color__background-body : hsl(0, 0%, 97%);
$color__background-main : hsl(0, 0%, 97%);
$color__background-cours : hsl(0, 51%, 56%);
$color__background-header : hsl(0, 73%, 30%);
$color__background-barre : hsl(0, 78%, 9%);
$color__background-footer : hsl(0, 79%, 13%);
$color__background-link : hsl(0, 71%, 51%);
$color__background-link-hover : hsl(0, 68%, 30%);

/* ---------------- LIENS */
$color__link : hsl(17, 100%, 93%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(20, 18%, 53%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(0, 100%, 97%);
$color__link__footer-hover : hsl(19, 77%, 76%);
$color__link__footer-visited : hsl(0, 30%, 67%);
$color__link__footer-border: rgb(99, 2, 2);
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(0, 82%, 68%);
$color__link__header-hover : hsl(0, 36%, 59%);
$color__link__header-visited : hsl(0, 0%, 100%);

/* ---------------- FONT */
$color__font-header : rgb(240, 240, 240);
$color__font-main :rgb(235, 202, 193);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(255, 202, 188);