h1{
    font-size: clamp(2rem, 5vw, 8rem);
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.8rem;
}
h5{  font-size: 1.6rem;}
h6{
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
    font-family: $font__paragraphe_1;
}

h1,h2 {
    font-family: $font__principal;

}

h3,h4,h5,h6{
    font-family: $font__secondaire;
}


a {
    font-size : clamp(.9rem, 1vw, 1.2rem);
    font-family: $font__secondaire;
}

