.boite__modale, .boite__carrousel {
    position : fixed;
    top: 25%;
    left: 25%;
    border : 5px solid $color__bouton__background__border;
    background-color: $color__bouton__background;
    width : 50%;
    height : 50%;
    transform : scale(0);
    transition : all 1s ease-in-out;

    &__fermeture {
        position : absolute;
        width : 150px;
        height: 150px;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 0;
        background: linear-gradient(225deg, rgba(125,10,24,1) 18%, rgba(125,10,24,0) 50%);
        color: white;
        text-align: left;
        border: none;
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        transition: all 0.2s ease-in-out;
        &:hover{
            cursor: pointer;
            background: linear-gradient(225deg, rgb(65, 5, 12) 18%, rgba(125,10,24,0) 50%);
        }

        svg{
            position : absolute;
            top: 5px;
            right: 5px;

            &:hover{
                color: #ccc;
            }
        }
    }
    &__texte{}


}

.ouvrir
{
    transform : scale(1);
} 

.boite__carrousel{
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    height: 75%;

    img{
        position : absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__navigation{
        position : absolute;
        width: 100%;
        bottom: 0;
        z-index: 1;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        button{
            width: 25px;
            height: 25px;
            margin: 5px 10px;
            border-radius: 100%;
            border: none;
            transition: all 0.2s ease-in-out;
            transform: translate(0);
            &:hover, &:checked{
                background-color: #333;
                cursor: pointer;
                border: 3px solid $color__bouton__background__border;
                transform: translate(0);
            }


        }
    }
}