.galerie{
    @media screen and(min-width : $largeur__media--mobile) {
        width: 80%;
        flex-direction: row;
    }
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    figure{
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        &:hover{
            cursor: pointer;
            transform: translateY(-15px);
            box-shadow: 0px 15px 0px $color__bouton__background__border;
            border-radius: 25px;
            
        }
    }
}